# Titanic Dataset

* The goal is to predict whether or not a passenger survived based on attributes such as their age, sex, passenger class, where they embarked and so on.

* Attribute Descriptions:
    * **PassengerId**: a unique identifier for each passenger
    * **Survived**: that's the target, 0 means the passenger did not survive, while 1 means he/she survived.
    * **Pclass**: passenger class.
    * **Name**, **Sex**, **Age**: self-explanatory
    * **SibSp**: how many siblings & spouses of the passenger aboard the Titanic.
    * **Parch**: how many children & parents of the passenger aboard the Titanic.
    * **Ticket**: ticket id
    * **Fare**: price paid (in pounds)
    * **Cabin**: passenger's cabin number
    * **Embarked**: where the passenger embarked the Titanic

In [92]:
%matplotlib inline
import matplotlib.pyplot as plt

import pandas as pd
import numpy as np

import helper_funcs as hf

### Get the Data:

In [2]:
train_data = pd.read_csv('https://raw.githubusercontent.com/Spin8Cycle/data/main/data_samples/titanic/train.csv')
test_data = pd.read_csv('https://raw.githubusercontent.com/Spin8Cycle/data/main/data_samples/titanic/test.csv')

### Explore the Data:

In [10]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [93]:
hf.custom_info(train_data)

            Data Type Non-Null Count Null Count % Missing Distinct Values
PassengerId     int64            891          0       0.0             891
Survived        int64            891          0       0.0               2
Pclass          int64            891          0       0.0               3
Name           object            891          0       0.0             891
Sex            object            891          0       0.0               2
Age           float64            714        177     19.87              88
SibSp           int64            891          0       0.0               7
Parch           int64            891          0       0.0               7
Ticket         object            891          0       0.0             681
Fare          float64            891          0       0.0             248
Cabin          object            204        687      77.1             147
Embarked       object            889          2      0.22               3